[buildout]
#extensions = buildout.bootstrap mr.developer
extends = https://raw.githubusercontent.com/collective/buildout.plonetest/master/plone-4.2.x.cfg
package-name = eappi.policy
parts = omelette scripts
sources-dir = dev
find-links +=
    http://packages.inigo-tech.com/packages/
auto-checkout = 
    

[sources]

[versions]
inigo.templer = 1.4

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v']
eggs = eappi.policy [test]

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[instance]
eggs += Pillow

[scripts]
recipe = zc.recipe.egg
eggs = 
    inigo.templer
    PasteScript
    zest.releaser
    eappi.policy
